@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div>
    <address>
        AMD<br />
        Allwyn, Devika, Mufaddal<br />
        <abbr title="Phone">P: </abbr>
        8446908749
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:allwyndias411@gmail.com">allwyndias411@gmail.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:MufaddalGulshan@gmail.com">MufaddalGulshan@gmail.com</a>
    </address>
</div>